/* Register Page Styles */
.register-background {
    min-height: 100vh;
    background: linear-gradient(-45deg, #01456a, #04334c, #010a0e, #04334c, #01456a);
    background-size: 400% 400%;
    animation: animate-background 8s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.199);
  border-radius: 1rem;
  box-shadow: 0 1px 10px 0 rgba(9, 53, 81, 0.327);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(65, 65, 65, 0.18);
  width: 100%;
  max-width: 500px;
  color: #fff;
  z-index: 1;
}

.btn-register {
  width: 55%;
  background-color: #071e2a;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: none;
  transition: 0.2s;
  border-radius: 3rem;
}

.btn-register:hover {
  background-color: #e2eaee;
  color: #071e2a;
  outline: 1px solid #061d297c;
}
